* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #7f9287;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* BRAND FONT */
.logo,
h1,
.placeholder,
.create-btn,
label span,
.current-profile-info p,
.card li  {
  font-family: 'Glacial Indifference', sans-serif;
}

.navbar a {
  text-decoration: none;
}

/* GLOBAL DARK MODE */
body.dark-mode {
  background: #1f2521;
  color: #f5f1e8;
}

body.dark-mode .navbar,
body.dark-mode header {
  background: #2b2b2b;
  color: #f5f5f5;
}

body.dark-mode .footer,
body.dark-mode footer {
  background: #222;
  color: #f5f5f5;
}

body.dark-mode .navbar a,
body.dark-mode .footer a,
body.dark-mode header a,
body.dark-mode footer a,
body.dark-mode .current-profile-info p {
  color: #f5f5f5;
}

body.dark-mode .card,
body.dark-mode .card i,
body.dark-mode .card span  {
  background-color: #556b4f;
  color: #f5f5f5;
  transition: 0.25s ease;
}

body.dark-mode .card i:hover,
body.dark-mode .card span:hover  {
  color: #7f9287;
}

body.dark-mode .create-btn {
  background-color: #f5f1e8;
  color: #203b22;
}

body.dark-mode .create-btn:hover {
  background-color: #ddd6c3;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 20px;
  border-bottom: 1px solid #8a8a8a;
  background-color: #f3efe2;
}

.logo {
  font-size: clamp(2rem, 3vw, 2.8rem);
  font-weight: 700;
  color: #5d7c4f;
  gap: 1rem;
}

.logo-icon {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
}

.highlight {
  color: #8ba094;
  font-weight: 700;
}

.nav-icons {
  display: flex;
  gap: 24px;
}

.nav-icons a {
  color: #203b22;
  font-size: 2rem;
  text-decoration: none;
}

.container {
  width: min(80vw, 900px);
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0 0;
  align-items: center;
  gap: 28px;
  margin: 0 auto;
}

.current-profile-card {
  height: 10%;
  display: flex;
  justify-content: left;
  gap: min(1.5rem, 3vw);
}

.current-profile-card img {
  width: min(3rem, 7vw);
  height: min(3rem, 7vw);
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.current-profile-info {
  display: flex;
  align-items: center;
}

.current-profile-info p {
  margin: 0;
  font-size: min(2rem, 3vw);
  font-weight: bold;
  color: #111;
  line-height: 1.05;
}

/* GRID LAYOUT */
.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr;
  gap: 20px;
}

.card {
  background-color: #f3efe2;
  border-radius: 20px;
  padding: 2vh 2vw;
  color: #556b4f;
}

/* image upload */
.image-upload {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: max(29vh, 220px);
  padding: 0;
  position: relative;
  cursor: pointer;
}

#imageLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #556b4f;
  height: 100%;
  width: 100%;
  transition: 0.25s ease;
}

#imageLabel:hover {
  color:#203b22;
}

#imageLabel i {
  font-size: 2rem;
  z-index: 2;
}

#imageLabel span {
  font-size: 18px;
  z-index: 2;
}

.image-preview-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: none;
}

/* image edit button */
.edit-btn {
  display: none;
}

.image-preview-wrapper.has-image .edit-btn {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s ease;
}

.image-preview-wrapper.has-image:hover .edit-btn {
  scale: 1.1;
  opacity: 0.8;
}

/* other recipe info */
.title {
  grid-column: span 2;
  height: max(12vh, 100px);
}

.small {
  height: max(12vh, 100px);
}

[contenteditable="true"] {
  outline: none;
  cursor: text;
}

[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    opacity: 0.6;
}

.ingredients {
    height: 250px;
}

.ingredients-list {
    padding-left: 20px;
    margin: 0;
}

.ingredients-list li {
    margin-bottom: 6px;
}

.directions {
    grid-column: span 2;
    height: 250px;
}

.description {
    grid-column: span 2;
    height: 50%;
}

h1 {
    margin: 8px 0 8px;
    padding: 0;
    font-size: max(2vh, 14px);
    font-weight: bold;
    opacity: 0.8;
    cursor: default;
}

.placeholder {
    padding: 0;
    font-size: max(2.5vh, 16px);
}

/* create button */
.create {
  margin: 0;
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
}

.create-btn {
    background-color: #1f2521;
    color: white;
    width: 20%;
    padding: 0.5rem 3rem;
    border-radius: 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
 }

 .create-btn:hover {
    background-color: #2b2b2b;
 }