/* GLOBAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  min-height: 100vh;
}

/* BRAND FONT */
.placeholder,
.create-btn,
label span,
.current-profile-info p,
.card li, 
.error-message  {
  font-family: 'Glacial Indifference', sans-serif;
}

/* LAYOUT */
.container {
  width: min(80vw, 900px);
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0 0;
  align-items: center;
  gap: 28px;
  margin: 0 auto;
}

.current-profile-card {
  height: 10%;
  display: flex;
  justify-content: left;
  gap: min(1.5rem, 3vw);
}

.current-profile-card img {
  width: min(3rem, 7vw);
  height: min(3rem, 7vw);
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.current-profile-info {
  display: flex;
  align-items: center;
}

.current-profile-info p {
  margin: 0;
  font-size: min(2rem, 3vw);
  font-weight: bold;
  color: var(--text-light);
  line-height: 1.05;
}

/* GRID LAYOUT */
.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: var(--bg-card);
  border-radius: 20px;
  padding: 2vh 2vw;
  color: var(--text-secondary);
}

.card h1 {
  margin: 8px 0 8px;
  padding: 0;
  font-size: max(2vh, 14px);
  font-weight: bold;
  opacity: 0.8;
  cursor: default;
}

/* IMAGE UPLOAD */
.image-upload {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max(29vh, 220px);
  position: relative;
  cursor: pointer;
}

#imageLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: var(--text-secondary);
  height: 100%;
  width: 100%;
  transition: 0.25s ease;
}

#imageLabel:hover {
  color: var(--text-primary);
}

#imageLabel i {
  font-size: 2rem;
  z-index: 2;
}

#imageLabel span {
  font-size: 18px;
  z-index: 2;
}

#preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: none;
}

.image-preview-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* IMAGE EDIT BUTTON */
.edit-btn {
  display: none;
}

.image-preview-wrapper.has-image .edit-btn {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--text-white);
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: 0.25s ease;
}

.image-preview-wrapper.has-image:hover .edit-btn {
  scale: 1.1;
  opacity: 0.8;
}

/* SPECIFIC CARDS */
.title {
  grid-column: span 2;
  height: max(12vh, 100px);
}

.small {
  height: max(12vh, 100px);
}

[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
}

.ingredients {
  height: 250px;
}

.ingredients-list {
  padding-left: 20px;
  margin: 0;
  max-height: 180px;
  overflow-y: auto;
}

.ingredients-list li {
  margin-bottom: 6px;
}

.directions {
  grid-column: span 2;
  max-height: 250px;
  overflow-y: auto;
}

/* INPUT FIELD */
.input-field {
  width: 100%;
  border: none;
  background: transparent;
  font-family: 'Glacial Indifference', sans-serif;
  font-size: max(2.5vh, 16px);
  color: inherit;
  outline: none;
}

textarea.input-field {
  resize: none;
  height: 100%;
  max-height: 180px;
  overflow-y: auto;
}

/* ERRORS */
.input-control.error .input-field,
.input-control.error textarea {
  border-bottom: 2px solid var(--error);
}

.error-message {
  font-size: 0.6rem;
  color: var(--error);
  display: none;
}

.input-control.error .error-message {
  display: block;
}


/* CREATE BUTTON */
.create {
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
}

.create-btn {
  background-color: var(--bg-button);
  color: var(--text-white);
  width: 20%;
  padding: 0.5rem 3rem;
  border-radius: 25px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.25s ease;
 }

 .create-btn:hover {
  background-color: var(--hover-dark);
 } 