/* Back to top button */
.back-to-top {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: var(--bg-green-button);
    opacity: 0;
    color: var(--text-white);
    font-size: 1.5rem;
    text-decoration: none;
    bottom: 7rem;
    right: 7rem;
    border: none;
    padding: 1.5rem 1.45rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transition: all 0.3s ease;
}

.back-to-top.active {
    opacity: 1;
    pointer-events: auto;
}

.back-to-top.active:hover {
    background-color: var(--bg-green-button-hover);
}

@media (max-width: 820px) {
    .back-to-top {
        font-size: 1rem;
        bottom: 3rem;
        right: 2rem;
    }
}
