<header class="navbar">
  <a href="{{base}}index.html" class="logo-link">
    <div class="logo">
      <img src="{{base}}images/logo.png" alt="logo" class="logo-icon">
      Find<span class="highlight">My</span>Recipe
    </div>
  </a>

  <div class="search-wrapper">
    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="search" autocomplete="off" />
      <button id="searchBtn" type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div id="suggestionsBox" class="suggestions-box"></div>
  </div>

  <button class="menu-toggle" id="menuToggle" type="button" aria-label="Open menu" aria-expanded="false">
    <i class="fa-solid fa-bars"></i>
  </button>

  <div class="nav-icons" id="navMenu">
    <a href="{{base}}pages/addnew.html"><i class="fa-regular fa-square-plus"></i></a>
    <a href="{{base}}pages/profile.html"><i class="fa-solid fa-user"></i></a>
    <a href="{{base}}pages/settings.html"><i class="fa-solid fa-gear"></i></a>
  </div>
</header>
